{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}
<section id="calender">
 <div class="row">
		<div class="col-sm-12">
			<div class="content-header">Calendar</div>
		</div>
	</div>
<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="color: black; background-color: white">
                    <h4 class="card-title">Default</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <p class="card-text">This is the most basic example having navigation button to navigate next and previous months and today button. This basic example lists all the events on the calendar.</p>
                        <div id="fc-default" class="fc fc-unthemed fc-ltr">
                            <div class="fc-toolbar"><div class="fc-left"><h2>June 2016</h2></div>
                                <div class="fc-right"><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right">today</button>
                                    <div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div>
                                </div>
                                <div class="fc-center"></div>
                                <div class="fc-clear"></div>
                            </div>
                            <div class="fc-view-container" style="">
                                <div class="fc-view fc-month-view fc-basic-view" style="">
                                    <table>
                                        <thead class="fc-head"><tr><td class="fc-head-container fc-widget-header">
                                            <div class="fc-row fc-widget-header">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="fc-day-header fc-widget-header fc-sun">Sun</th>
                                                        <th class="fc-day-header fc-widget-header fc-mon">Mon</th>
                                                        <th class="fc-day-header fc-widget-header fc-tue">Tue</th>
                                                        <th class="fc-day-header fc-widget-header fc-wed">Wed</th>
                                                        <th class="fc-day-header fc-widget-header fc-thu">Thu</th>
                                                        <th class="fc-day-header fc-widget-header fc-fri">Fri</th>
                                                        <th class="fc-day-header fc-widget-header fc-sat">Sat</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </td>
                                        </tr>
                                        </thead>
                                        <tbody class="fc-body">
                                        <tr>
                                            <td class="fc-widget-content">
                                                <div class="fc-scroller fc-day-grid-container" style="overflow: hidden; height: 860px;">
                                                    <div class="fc-day-grid fc-unselectable">
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">
                                                            <div class="fc-bg">
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2016-05-29"></td>
                                                                        <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2016-05-30"></td>
                                                                        <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2016-05-31"></td>
                                                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-01"></td>
                                                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-02"></td>
                                                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-03"></td>
                                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-04"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2016-05-29">29</td>
                                                                        <td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2016-05-30">30</td>
                                                                        <td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2016-05-31">31</td>
                                                                        <td class="fc-day-number fc-wed fc-past" data-date="2016-06-01">1</td>
                                                                        <td class="fc-day-number fc-thu fc-past" data-date="2016-06-02">2</td>
                                                                        <td class="fc-day-number fc-fri fc-past" data-date="2016-06-03">3</td>
                                                                        <td class="fc-day-number fc-sat fc-past" data-date="2016-06-04">4</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                                                                            <div class="fc-content"> <span class="fc-title">All Day Event</span></div><div class="fc-resizer fc-end-resizer"></div>
                                                                        </a>
                                                                        </td>
                                                                        <td>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">
                                                            <div class="fc-bg">
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-05"></td>
                                                                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-06"></td>
                                                                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-07"></td>
                                                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-08"></td>
                                                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-09"></td>
                                                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-10"></td>
                                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-11"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-past" data-date="2016-06-05">5</td>
                                                                        <td class="fc-day-number fc-mon fc-past" data-date="2016-06-06">6</td>
                                                                        <td class="fc-day-number fc-tue fc-past" data-date="2016-06-07">7</td>
                                                                        <td class="fc-day-number fc-wed fc-past" data-date="2016-06-08">8</td>
                                                                        <td class="fc-day-number fc-thu fc-past" data-date="2016-06-09">9</td>
                                                                        <td class="fc-day-number fc-fri fc-past" data-date="2016-06-10">10</td>
                                                                        <td class="fc-day-number fc-sat fc-past" data-date="2016-06-11">11</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td rowspan="2"></td>
                                                                        <td rowspan="2"></td>
                                                                        <td class="fc-event-container" colspan="3">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-title">Long Event</span>
                                                                                </div>
                                                                                <div class="fc-resizer fc-end-resizer"></div></a>
                                                                        </td>
                                                                        <td rowspan="2"></td>
                                                                        <td class="fc-event-container" rowspan="2">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-not-end fc-draggable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-title">Conference</span>
                                                                                </div></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="fc-event-container">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-time">4p</span>
                                                                                    <span class="fc-title">Repeating Event</span>
                                                                                </div></a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">
                                                            <div class="fc-bg">
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-12"></td>
                                                                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-13"></td>
                                                                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-14"></td>
                                                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-15"></td>
                                                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-16"></td>
                                                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-17"></td>
                                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-18"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-past" data-date="2016-06-12">12</td>
                                                                        <td class="fc-day-number fc-mon fc-past" data-date="2016-06-13">13</td>
                                                                        <td class="fc-day-number fc-tue fc-past" data-date="2016-06-14">14</td>
                                                                        <td class="fc-day-number fc-wed fc-past" data-date="2016-06-15">15</td>
                                                                        <td class="fc-day-number fc-thu fc-past" data-date="2016-06-16">16</td>
                                                                        <td class="fc-day-number fc-fri fc-past" data-date="2016-06-17">17</td>
                                                                        <td class="fc-day-number fc-sat fc-past" data-date="2016-06-18">18</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fc-event-container">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable fc-resizable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-title">Conference</span>
                                                                                </div>
                                                                                <div class="fc-resizer fc-end-resizer"></div></a>
                                                                        </td>
                                                                        <td class="fc-event-container" rowspan="6">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-time">7a</span>
                                                                                    <span class="fc-title">Birthday Party</span>
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                        <td rowspan="6"></td>
                                                                        <td rowspan="6"></td>
                                                                        <td class="fc-event-container" rowspan="6">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content"><span class="fc-time">4p</span>
                                                                                    <span class="fc-title">Repeating Event</span>
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                        <td rowspan="6"></td>
                                                                        <td rowspan="6"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="fc-event-container fc-limited">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content"><span class="fc-time">10:30a</span>
                                                                                    <span class="fc-title">Meeting</span>
                                                                                 </div>
                                                                            </a>
                                                                        </td>
                                                                        <td class="fc-more-cell" rowspan="1">
                                                                            <div><a class="fc-more">+5 more</a></div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="fc-limited"><td class="fc-event-container">
                                                                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                            <div class="fc-content"><span class="fc-time">12p</span>
                                                                                <span class="fc-title">Lunch</span>
                                                                            </div>
                                                                        </a>
                                                                    </td>
                                                                    </tr>
                                                                    <tr class="fc-limited"><td class="fc-event-container">
                                                                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                            <div class="fc-content"><span class="fc-time">2:30p</span>
                                                                                <span class="fc-title">Meeting</span>
                                                                            </div>
                                                                        </a>
                                                                    </td>
                                                                    </tr>
                                                                    <tr class="fc-limited">
                                                                        <td class="fc-event-container">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-time">5:30p</span>
                                                                                    <span class="fc-title">Happy Hour</span>
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="fc-limited">
                                                                        <td class="fc-event-container">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                <div class="fc-content"><span class="fc-time">8p</span>
                                                                                    <span class="fc-title">Dinner</span>
                                                                                </div></a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">
                                                            <div class="fc-bg">
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-19"></td>
                                                                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-20"></td>
                                                                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-21"></td>
                                                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-22"></td>
                                                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-23"></td>
                                                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-24"></td>
                                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-25"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-past" data-date="2016-06-19">19</td>
                                                                        <td class="fc-day-number fc-mon fc-past" data-date="2016-06-20">20</td>
                                                                        <td class="fc-day-number fc-tue fc-past" data-date="2016-06-21">21</td>
                                                                        <td class="fc-day-number fc-wed fc-past" data-date="2016-06-22">22</td>
                                                                        <td class="fc-day-number fc-thu fc-past" data-date="2016-06-23">23</td>
                                                                        <td class="fc-day-number fc-fri fc-past" data-date="2016-06-24">24</td>
                                                                        <td class="fc-day-number fc-sat fc-past" data-date="2016-06-25">25</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;"><div class="fc-bg">
                                                            <table>
                                                                <tbody>
                                                                <tr>
                                                                    <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-26"></td>
                                                                    <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-27"></td>
                                                                    <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-28"></td>
                                                                    <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-29"></td>
                                                                    <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-30"></td>
                                                                    <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2016-07-01"></td>
                                                                    <td class="fc-day fc-widget-content fc-sat fc-other-month fc-past" data-date="2016-07-02"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-past" data-date="2016-06-26">26</td>
                                                                        <td class="fc-day-number fc-mon fc-past" data-date="2016-06-27">27</td>
                                                                        <td class="fc-day-number fc-tue fc-past" data-date="2016-06-28">28</td>
                                                                        <td class="fc-day-number fc-wed fc-past" data-date="2016-06-29">29</td>
                                                                        <td class="fc-day-number fc-thu fc-past" data-date="2016-06-30">30</td>
                                                                        <td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2016-07-01">1</td>
                                                                        <td class="fc-day-number fc-sat fc-other-month fc-past" data-date="2016-07-02">2</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="fc-event-container">
                                                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable" href="http://google.com/">
                                                                                <div class="fc-content">
                                                                                    <span class="fc-title">Click for Google</span>
                                                                                </div>
                                                                                <div class="fc-resizer fc-end-resizer"></div>
                                                                            </a>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 145px;"><div class="fc-bg">
                                                            <table>
                                                                <tbody>
                                                                <tr>
                                                                    <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2016-07-03"></td>
                                                                    <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2016-07-04"></td>
                                                                    <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2016-07-05"></td>
                                                                    <td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2016-07-06"></td>
                                                                    <td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2016-07-07"></td>
                                                                    <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2016-07-08"></td>
                                                                    <td class="fc-day fc-widget-content fc-sat fc-other-month fc-past" data-date="2016-07-09"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2016-07-03">3</td>
                                                                        <td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2016-07-04">4</td>
                                                                        <td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2016-07-05">5</td>
                                                                        <td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2016-07-06">6</td>
                                                                        <td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2016-07-07">7</td>
                                                                        <td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2016-07-08">8</td>
                                                                        <td class="fc-day-number fc-sat fc-other-month fc-past" data-date="2016-07-09">9</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}