{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}

<div class="card">
    <div class="card-body">
        <div class="table-responsive" style="background-color: white;">
            <div>
                <button type="button">All Campaigns</button>
                <button type="button">Calendar</button>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Campaign</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Status</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Period</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Channels</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Countries</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Influencers</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Budget</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">ROI</b></th>
                </tr>
                </thead>
                <tbody>
                {% for item in view_campaign_data['data'] %}
                <tr>
                    <td><a href="/viewCampaignDetails/{{ item['campaign_id'] }}">{{ item['campaign_name'] }}</a></td>
                    <td>Cell</td>
                    <td>{{ item['from_date'] }}- {{ item['to_date'] }}</td>
                    <td>
                        {% set channels = item['channels'].split(',') %}
                        {% for channel in channels %}
                            {% if channel == 'youtube' %}
                              <a href="#" class="fa fa-youtube red"></a>
                            {% elif channel == 'facebook' %}
                              <a href="#" class="fa fa-facebook blue"></a>
                            {% elif channel == 'twitter' %}
                              <a href="#" class="fa fa-twitter"></a>
                            {% elif channel == 'instagram' %}
                              <a href="#" class="fa fa-instagram pink"></a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for region_name in item['region_name_list'] %}
                        {{ region_name }},
                        {% endfor %}
                    </td>
                    <td>{{ item['no_of_influencers'] }}<a href="#"><i class="material-icons">person_add</i></a></td>
                    <td>{{ item['budget'] }}</td>
                    <td>Coming Soon</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}