{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div>
                        <b style="color: #9C27B0; font-weight:400; letter-spacing: 1px; font-size:15px; ">Back to List</b>
                        <span><p style="text-align: center;"><b style="font-size:20px; letter-spacing: 2px; font-weight: 500">X'Mas Special Sale</b>
                            <br />Active
                        </p>
                        </span>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9 col-md-6" style="border-right: 2px solid #A7A3A2;">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4"><b style="font-weight: 500;">Period</b>
                                        <br />1<br />1Mar18-31Mar18
                                    </div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500">Channels</b>
                                        <br />
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-youtube"></a></div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500;">Budget</b>
                                        <br />
                                        <b style="font-weight: 400; font-size:15px;">$ 20 000</b> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4"><b style="font-weight: 500">Countries</b><br />
                                        <b style="font-weight: 400; font-size:15px;">USA, GBR, AUS</b> </div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500">Files</b></div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500">Target URL</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4"><b style="font-weight: 500">Content Type</b></div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500">KPIs</b>
                                        <br />
                                        <b style="font-weight: 400; font-size:15px;"></b>Revenue </div>
                                    <div class="col-sm-4 col-md-4"><b style="font-weight: 500">Influencers</b>
                                        <br />10</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-6">
                                <p><b style="font-weight: 500">Description:</b></p>
                                <br>
                                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="background-color: white;" class="table-responsive">
                        <table class="table table-bordered" style="background-color: white;">
                            <tr>
                                <th><b style="font-weight: 500; font-size:15px;">Influencers</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Status</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Cost</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Revenue</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Posts</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Views</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Clicks</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">New<br /> Users</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">Engagement <br /> %</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">CPA</b></th>
                                <th><b style="font-weight: 500; font-size:15px;">ROI</b></th>
                            </tr>
                            <tr style="background-color: #EBF5FB  ;">
                                <td>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">C Ronaldo</button>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                </td>
                                <td></td>
                                <td ><b style="font-size:14px; font-weight:400;">$1500</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">$10000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">10</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">10000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">$20000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">5000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">0.45%</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">6.5</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">%</b></td>
                            </tr>
                            <tr style="background-color:#FDEDEC  ;">
                                <td>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTw" aria-expanded="false" aria-controls="collapseTw">
                                        C Ronaldo
                                    </button>
                                    <button onclick="location.href='/reply'" class="btn btn-sm btn-primary"><i class="ft-mail"></i></button>

                                    <div id="collapseTw" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                </td>
                                <td></td>
                                <td ><b style="font-size:14px; font-weight:400;">$1500</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">$10000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">10</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">10000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">$20000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">5000</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">0.45%</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">6.5</b></td>
                                <td ><b style="font-size:14px; font-weight:400;">%</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}