{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div>
                        <ul class="tabrow">
                            <li class="selected">Youtube</li>
                            <li>Facebook</li>
                            <li >Instagram</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                    <div class="row" style="padding-top: 2%;">
                        <button type="button" style="background-color: purple; margin-left: 2%; color:white; border-radius: 10px; font-size:15px;">Export CSV</button>
                        <select style="margin-left: 60%">
                            <option value="sort">Sort</option>
                            <option value="price">Price</option>
                            <option value="new">New</option>
                            <option value="rel">Relevance</option>
                        </select>
                    </div>
                    <hr>
                    <div class="container">
                        {% for item in data['data'] %}
                        <div class="row">
                            <div class="">
                                <table cellspacing="1">
                                    <tr>
                                        <td rowspan="4" style="padding-right: 10px;">
                                            <a href="/compose" target="_blank" class="fa fa-envelope" data-toggle="tooltip" title="Message" style="font-size:20px;"></a>
                                            <br>
                                            <a href="#" target="_blank" class="fa fa-bullseye red" data-toggle="tooltip" title="Add To Campaign" style="font-size:20px;"></a>
                                            <br>
                                            <a href="/addToFavInfList/{{ item['channel_id'] }}" target="_blank" class="fa fa-star-o yellow"  data-toggle="tooltip" title="Add To Favorites" style="font-size:20px;"></a>
                                        </td>
                                        <td rowspan="4">
                                            <img src="{{ item['channel_img'] }}" height="155px" width="155px">
                                        </td>
                                        <td colspan="2" style="border-right: solid 1px #E1DEDD;">
                                            <table width="400px" cellpadding="1">
                                                <tr>
                                                    <td colspan="2"><b style="font-size:15px;"><a href="https://www.youtube.com/channel/{{ item['channel_id'] }}" target="_blank">{{ item['title'] }}</a></b> <i class="fa fa-youtube-play font-medium-3 red"></i></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD; font-size:14px;">
                                                        <b>{{ item['subscriberCount_gained'] }}</b>
                                                        <br>
                                                        Total followers
                                                    </td>
                                                    <td style="text-align:center;border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD;  font-size:14px;">
                                                        <b>{{ (item['total_100video_likes']/100)|int }}</b>
                                                        <br>
                                                        Avg Likes/ video
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD;  font-size:14px;">
                                                        <b>{{ (item['total_100video_views']/100)|int }}</b>
                                                        <br>
                                                        Avg Views/ video
                                                    </td>
                                                    <td style="text-align:center;font-size:14px;">
                                                        <b>{{ (item['total_100video_comments']/100)|int }}</b>
                                                        <br>
                                                        Avg Comments/ video
                                                    </td>
                                                </tr>
                                                <tr><td colspan="2">
                                                    <b style="font-size:12px">Other Channels</b> &emsp;
                                                    {% if item['facebook_url'] %}
                                                    <a href="{{ item['facebook_url'] }}" target="_blank" class="fa fa-facebook-official blue" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                    {% if item['insta_url'] %}
                                                    <a href="{{ item['insta_url'] }}" target="_blank" class="fa fa-instagram pink" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                    {% if item['twitter_url'] %}
                                                    <a href="{{ item['twitter_url'] }}" target="_blank" class="fa fa-twitter cyan" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                </td></tr>
                                            </table>
                                        </td>
                                        <td rowspan="4" width="400" style="border-right: solid 1px #E1DEDD;" >
                                            <div style="height:150px; width:200px;">
                                                <canvas id="lineChart" height="300px" width="400px"></canvas>
                                            </div></td>
                                        <td rowspan="4">
                                            <div class="scroll">
                                                <ul class="nav nav-tabs">
                                                    <li><a data-toggle="tab" href="#status">Status</a></li>&nbsp;
                                                    <li><a data-toggle="tab" href="#alert">Alert</a></li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="status" class="tab-pane fade in active">
                                                        <b style="font-weight:450;">Campaign 1<br/></b>
                                                        <b style="font-weight:400; color:orange;">Contacted</b><br/>
                                                        <hr>
                                                        <b style="font-weight:450;">Campaign 2<br/></b>
                                                        <b style="font-weight: 400; color:green;">Accepted
                                                        </b><br />
                                                        <hr>
                                                        <b style="font-weight:450;">Campaign 3<br/></b>
                                                        <b style="font-weight: 400; color:orange;">Contacted</b>
                                                    </div>
                                                    <div id="alert" class="tab-pane fade">
                                                        <b style="font-weight:450;">Followers<br/></b>
                                                        <b style="font-weight:400; color:red;">60 000 00</b><br/>
                                                        <hr>
                                                        <b style="font-weight:450;">Avg Likes/video<br/></b>
                                                        <b style="font-weight: 400; color:red;">80 000
                                                        </b><br />
                                                        <hr>
                                                        <b style="font-weight:450;">Avg Comments<br/></b>
                                                        <b style="font-weight: 400; color:red;">5 000</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.scroll {
        height: 150px;
        width: 150px;
        overflow-y: auto;
    }
    .tabrow {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 24px;
    }
    .tabrow li {
        padding: 0 10px;
        border: 1px solid #AAA;
        background: #ECECEC;
        display: inline-block;
    }
</style>
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
<script src="js/main.js"></script>
<script>
    const CHART = document.getElementById("lineChart");
    let lineChart = new Chart(CHART, {
        type: 'line',
        data: {
            labels: ["0", "1", "2", "3", "4", "5", "6"],
            datasets: [
                {
                    label: "Youtube",
                    fill: true,
                    lineTension: 0.1,
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [65, 59, 80, 81, 56, 55, 40, 50],
                },         {
                    label: "Twitter",
                    fill: true,
                    backgroundColor: "rgba(75,75,192,0.4)",
                    borderColor: "rgba(75,72,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,72,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,72,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [100, 20, 60, 20, 80, 55, 90],
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}