{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div>
     <ul class="tabrow">
   <li class="selected">Youtube</li>
   <li>Facebook</li>
   <li >Instagram</li>
   <li>Twitter</li>
</ul>
                    </div>
                    <div class="row" style="padding-top: 2%;">
                        <button type="button" style="background-color: purple; margin-left: 2%; color:white; border-radius: 10px; font-size:15px;">Export CSV</button>
                        <select style="margin-left: 60%">
                            <option value="sort">Sort</option>
                            <option value="price">Price</option>
                            <option value="new">New</option>
                            <option value="rel">Relevance</option>
                        </select>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <b style="letter-spacing: 1px; margin-left: 10%;">Pew Dew Pie
                                    <a href="#" class="fa fa-youtube"></a></b>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">Image</div>
                                    <div class="col-md-2" style="border-right:2px solid grey;"><b style="font-weight: 400; font-size:15px;">Total <br />Followers<br/><b style="color:blue; font-weight:400;">54 00 000</b> </b></div>
                                    <div class="col-md-2" style="border-right:2px solid grey;"><b style="font-weight: 400; font-size:15px;">Avg <br />Views/video<br/><b style="color:blue; font-weight:400;">200 000</b> </b></div>
                                    <div class="col-md-2" style="border-right:2px solid grey;"><b style="font-weight: 400; font-size:15px;">Avg <br />Likes/video<br/><b style="color:blue; font-weight:400;">64 000</b> </b></div>
                                    <div class="col-md-2" style="border-right:2px solid grey;"><b style="font-weight: 400; font-size:15px;">Avg <br />Comments<br />/video<br/><b style="color:blue; font-weight:400;">10 112</b> </b></div>
                                    <div class="col-md-2" style="border-right:2px solid grey;">graph</div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="scroll">
                                    <div style="padding-bottom: 10px;">
                                    <b style="font-size:15px; background-color: lightgrey; padding-top:10px; padding-bottom: 10px; padding-left:30px; padding-right:55px;">Status</b></div>
                                    <b style="font-weight:450;">Campaign 1<br/></b>
                                    <b style="font-weight:400; color:orange;">Contacted</b><br/>
                                    <hr>
                                     <b style="font-weight:450;">Campaign 2<br/></b>
                                    <b style="font-weight: 400; color:green;">Accepted
                                    </b><br />
                                    <hr>
                                     <b style="font-weight:450;">Campaign 3<br/></b>
                                    <b style="font-weight: 400; color:orange;">Contacted</b>

                                </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left:20%;">
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <b style="letter-spacing: 1px;">Other Channels</b>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-youtube"></a>
                                </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.scroll {
    height: 150px;
    width: 150px;
    overflow-y: auto;
}
    .tabrow {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.tabrow li {
  padding: 0 10px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
}
</style>
<style>
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
</style>
{% endblock %}