
{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}



<div class="row">
    <div class="col-sm-12">
        <div class="card">
                    <div class="card-header" style="background-color: white; margin-bottom: -15px;">
                        <div class="row">
                        <div class="col-md-2">
                        <i class="fa fa-arrow-left" style="color: purple;"></i>
                        </div>
                        <div class="col-md-5">
                            <p style="text-align: center; font-size: 20px; color: #50A9E4; padding-left: 50%;">Create New Classfied Ad</p>
                        </div>
                        </div>
                    </div>
            <div class="card-body">
                <div class="card-block">
                    <form class="form" name="classified_form" id="classified_form" method="POST" action="saveClassified" enctype="multipart/form-data">
                        <div class="container-fluid">
                        <div class="row" style="">
                                <div class="col-sm-6 col-md-6" style="margin-left: 30px;">
                                    <div class="row">
                                        <div class="col-sm-4"><label for="campaign_name">Ad Name</label><input  id="campaign_name" type="text" class="form-control" name="campaign_name" placeholder="Create New" required></div>
                                        <div class="col-sm-4"><label for="from_date">Start Date</label><input  id="from_date" type="date" class="form-control" name="from_date" placeholder="Select" required></div>
                                        <div class="col-sm-4"><label for="to_date">End Date</label><input  id="to_date" type="date" class="form-control" name="to_date" placeholder="Select" required></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="budget">Budget</label>
                                            <span class="text-bold-500 primary"><input type="number" class="form-control" name="budget" placeholder="Enter" required>
                                            </span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="currency">Currency</label>
                                            <select class="form-control" name="currency" id="currency">
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                                <option value="GBP">GBP</option>
                                                <option value="INR">INR</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="text-bold-500 primary">
                                                <div class="form-group">
                                                    <label for="channels">Channels</label>
                                                    <input class="form-control" type="text" placeholder="Select" class="button-size" data-toggle="dropdown" >
                                                        <div class="dropdown-menu" style="background-color: gainsboro">
                                                        <div class = container>
                                                        <div class="row">
                                                        <div class="col-xl-6">
                                                        <input type="checkbox" name="channels" value="youtube" id="youtube">
                                                        <label for="youtube">Youtube</label>
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="col-xl-6">
                                                        <input type="checkbox" name="channels" value="twitter" id="twitter">
                                                        <label for="twitter">Twitter</label>
                                                        </div>
                                                        </div>
                                                        <div class="row">
                                                        <div class="col-xl-6">
                                                        <input type="checkbox" name="channels" value="facebook" id="facebook">
                                                        <label for="facebook">Facebook</label>
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="col-xl-6">
                                                        <input type="checkbox" name="channels" value="instagram" id="instagram">
                                                        <label for="instagram">Instagram</label>
                                                         </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="text-bold-500 primary">
                                                <div class="form-group">
                                                    <label for="country" class="text-bold-500 primary">Country</label>
                                                    <select class="form-control" name="country" id="country" multiple required>
                                                        {% for item in regionCodes['data'] %}
                                                        <option value="{{ item['region_code'] }}">{{ item['country_name'] }}</option>
                                                        {% endfor %}
                                                     </select>
                                                </div>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
{#                                                <div class="form-field col s7">#}
                                                    <div class="form-group">
                                                      <p>
                                                        <label>Followers</label>
                                                      </p>
                                                      <div id="add_campaign_followers_slider" style="height:10px; width: 260px; border-radius: 55px;" ></div>
                                                        <div class="row">
                                                    <div class="offset-xl-2" id="lower-value" style="font-size: 12px;"></div>
                                                    <div class="offset-xl-5 col-3.5" id="upper-value" style="font-size: 12px;"></div>
                                                    </div>
                                                    </div>

{#                                                    <input type="hidden" name="min_lower" value="" id="min_lower">#}
{#                                                    <input type="hidden" name="max_upper" value="" id="max_upper">#}
{#                                                </div>#}
                                        </div>
                                        <div class = "col-sm-6">
                                             <label>Target URL</label>
                                        <span class="text-bold-500 primary"> <input type="url" class="form-control" name="target_url" placeholder="Target URL" required></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
{#                                        <div class="form-group">#}
                                            <label for="videoCategories">Categories</label>
                                            <select class="form-control" name="video_cat" required>
                                                {% for item in videoCategories['data'] %}
                                                <option value="{{ item['video_cat_id'] }}">{{ item['video_cat_name'] }}</option>
                                                {% endfor %}
                                            </select>
{#                                        </div>#}
                                    </div>
                                    <div class="col-sm-6">
                                    <label for="arrangement/content type">Arrangement/Content Type</label>
                                              <input class="form-control" type="text" placeholder="Select" class="button-size" data-toggle="dropdown">
                                              <div class="dropdown-menu" style="background-color: gainsboro">
                                              <div class = container>
                                              <div class = "row">
                                              <div class="col-xl-3">
                                                        <input type="checkbox" value="Review"> Review
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Giveaway"> Giveaway
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Banner placement / URL placement"> Banner placement / URL placement
                                                        </div>
                                              <div class="col-xl-3">
                                                        <input type="checkbox" value="Unboxing / Gameplay"> Unboxing / Gameplay
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Video Intro/Outro"> Video Intro/Outro
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Sponsorship"> Sponsorship
                                                        </div>
                                              <div class = "col-xl-6">
                                                    <input type="checkbox" value="Shoutout/Mention"> Shoutout/Mention
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Tutorial"> Tutorial
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" value="Other(Explain in Description)"> Other(Explain in Description)
                                              </div>
                                              </div>
                                                  </div>
                                              </div>
                                    </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <div class="col-sm-6">
                                        <label for="kpis">KPIs</label>
                                        <input class="form-control" type="text" placeholder="Select" class="button-size" data-toggle="dropdown">
                                        <div class="dropdown-menu" style="background-color: gainsboro">
                                            <div class = container>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <input type="checkbox" name="No. Of Clicks" value="No. Of Clicks"> No. Of Clicks
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" name="New Users" value="New Users"> New Users
                                                        <div class="dropdown-divider"></div>
                                                        <input type="checkbox" name="Revenue" value="Revenue"> Revenue
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span>
                                        <label for="add-files">Add Files</label>
                                        <input type="file" name="campaign_files" id="campaign_files1" class="campaign_files" required>
                                    </span> <br class="displayFiles">
                                    </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-5 col-md-5" style="">
                                    <label for="campaign_name">Description:</label><textarea class="form-control" rows="9" id="descritpion" name="campaign_description" required style="width: 100%"></textarea>
                            </div>
                                </div>
                            </div>
                            <img class="x" id="blah" src="#" width="15%" height="2%" alt="your image" />
                            <div style="margin-top: 45px;">
                            <button type="submit" id="saveclassified" class="btn btn-success"  style="margin-left: 41%; padding-left: 50px; padding-right: 50px;">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
        // range slider starts
        var nonLinearSlider = document.getElementById('add_campaign_followers_slider');
        noUiSlider.create(nonLinearSlider, {
	        connect: true,
	        behaviour: 'tap',
            start: [0,10000000],

	        behaviour: 'tap-drag',
	        tooltips: false,

	        range: {
		    // Starting at 500, step the value by 500,
		    // until 4000 is reached. From there, step by 1000.
		    'min': [ 0 ],
		    <!--'10%': [ 500, 500 ],-->
		    <!--'50%': [ 4000, 1000 ],-->
		    'max': [ 1000000 ]
	        },
	        format: {
                from: function(value) {
                    return parseInt(value);
                },
            to: function(value) {
                return parseInt(value);
                }
            }

        });
        var nodes = [
	        document.getElementById('lower-value'), // 0
	        document.getElementById('upper-value')  // 1
        ];
        // Display the slider value and how far the handle moved
        // from the left edge of the slider.
        nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
	        nodes[handle].innerHTML = values[handle];
        });
        // range slider ends

        //campaign save button click event
        $("#saveclassified").click(function(){
             var min_lower = $("#lower-value").text();
             var max_upper = $("#upper-value").text();
             <!--alert(min_lower);-->
             <!--alert(max_upper);-->
             $("#min_lower").val(min_lower);
             $("#max_upper").val(max_upper);
         });
         // search button click event ends

          //brands_classified_files preview start

        $(document).on('change', 'input:file',function(){
            <!--alert('i m here');-->
            readURL(this);
            $(this).hide();
            $(".displayFiles").before('<input type = "file" name="brands_classified_files">');

        });
        //brands_classified_files preview end
         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $(".displayFiles").after('<img id="filePreview" src="static/app-assets/img/portrait/avatars/avatar-08.png" class=" img-border gradient-summer width-50" alt="Card image">');
                $('#filePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }


});
</script>
{% endblock %}